{% extends 'base.html' %}

{% block title %}Approve | Fuel Availability{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accept.css') }}" />
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    const secretKey = prompt("Enter the Admin Password: ")
    $.post(
        '{{ url_for("admin_verify") }}',
        {
            secretKey: secretKey
        },
        function (data) {
            if (data['status'] == 'ok') {
                return
            } else {
                window.location.href = window.location.origin
            }
        }
    )
</script>
{% endblock %}

{% block body %}

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Approve Filling Stations</h4>
            </div>

            {% for item in pending %}

            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded"
                id="parent{{ item.id }}">
                <div class="mr-1">
                    <h1>{{ item.id }}</h1>
                </div>

                <div class="d-flex flex-column align-items-center product-details">
                    <span class="font-weight-bold">{{ item.name }}</span>
                    <div class="d-flex flex-row product-desc">
                        <div class="size mr-1">
                            <span class="font-weight-bold">&nbsp;{{ item.registration }}</span>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center qty">
                    <h5 class="text-black mt-1 mr-1 ml-1">
                        {{ item.phone }}
                        <br>
                        {{ item.email }}
                    </h5>
                </div>
                <div>
                    <h5 class="text-black">
                    </h5>
                </div>
                <div class="d-flex align-items-center">
                </div>
            </div>

            <button type="button" class="btn btn-success" itemdo="add" itemid="{{ item.id }}" pid="parent{{ item.id }}"
                id="addStation{{ item.id }}" onclick="clickedButton(this);">
                Approve
            </button>

            <button type="button" class="btn btn-danger" itemdo="remove" itemid="{{ item.id }}"
                pid="parent{{ item.id }}" id="removeStation{{ item.id }}" onclick="clickedButton(this);">
                Reject
            </button>



            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

{% block endbody %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function clickedButton(identifier) {
        const itemid = $(identifier).attr('itemid')
        const itemdo = $(identifier).attr('itemdo')
        const pid = $(identifier).attr('pid')
        $.post(
            '{{ url_for("admin_approve") }}',
            {
                itemid: itemid,
                itemdo: itemdo
            },
            function (data) {
                if (data['status'] == 'success') {
                    $(`#${pid}`).remove()
                    $(`#addStation${itemid}`).remove()
                    $(`#removeStation${itemid}`).remove()
                }
            }
        )
    }
</script>
{% endblock %}