{% extends 'base.html' %}

{% block title %}Panel | Fuel Availability{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}" />
{% endblock %}

{% block body %}

<div class="container-fluid px-0" id="bg-div">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-12">
            <div class="card card0" style="border-radius: 2% !important; border: 2px solid  black;">
                <div class="d-flex" id="wrapper">

                    <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper" style="border-radius: 5% !important;">
                        <div class="sidebar-heading pt-5 pb-4">
                            <strong>
                                DASHBOARD
                            </strong>
                        </div>
                        <div class="list-group list-group-flush">

                            <a data-toggle="tab" href="#menu1" id="tab1" class="tabs list-group-item bg-light">
                                <div class="list-div my-2">
                                    <div class="fa fa-home"></div>
                                    &nbsp;&nbsp; Filling Stations
                                </div>
                            </a>

                            <a data-toggle="tab" href="#menu2" id="tab2" class="tabs list-group-item active1">
                                <div class="list-div my-2">
                                    <div class="fa fa-credit-card"></div>
                                    &nbsp;&nbsp; Account Settings
                                </div>
                            </a>

                            <a data-toggle="tab" href="#menu3" id="tab3" class="tabs list-group-item bg-light">
                                <div class="list-div my-2">
                                    <div class="fa fa-home"></div>
                                    &nbsp;&nbsp; New Station
                                </div>

                                <a data-toggle="tab" href="{{ url_for('logout') }}" id="tab4"
                                    class="tabs list-group-item bg-light">
                                    <div class="list-div my-2">
                                        <div class="fa fa-credit-card"></div>
                                        &nbsp;&nbsp; Log Out
                                    </div>
                                </a>

                                <a data-toggle="tab" href="{{ url_for('index') }}" id="tab5"
                                    class="tabs list-group-item bg-light"
                                    style="background-color: rgb(10, 190, 82) !important;">
                                    <div class="list-div my-2">
                                        &nbsp;&nbsp; Go back to home
                                    </div>
                                </a>

                                <!--  -->

                        </div>
                    </div>

                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="row pt-3" id="border-btm">
                            <div class="col-4">
                                <button class="btn btn-success mt-4 ml-3 mb-3" id="menu-toggle">
                                    <div class="bar4"></div>
                                    <div class="bar4"></div>
                                    <div class="bar4"></div>
                                </button>
                            </div>

                            <div class="col-8">
                                <div class="row justify-content-right">
                                    <div class="col-12">
                                        <p class="mb-0 mr-4 mt-4 text-right">Logged in as {{ user.email }}</p>
                                    </div>
                                </div>
                                <div class="row justify-content-right">
                                    <div class="col-12">
                                        <p class="mb-0 mr-4 text-right">
                                            Welcome
                                            <span class="top-highlight">
                                                {{ user.name }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">

                            <div id="menu1" class="tab-pane">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <div class="form-card">

                                            <!-- Approved -->
                                            <div>
                                                <h3 class="mt-0 mb-4 text-center">Filling Stations Management</h3>
                                                {% if stations_length == 0 %}
                                                <div class="alert alert-dark" role="alert">
                                                    You currently have NO approved stations
                                                </div>
                                                {% else %}
                                                <!-- Form with dropdown to select the station to change availability -->
                                                <div>
                                                    <form onsubmit="event.preventDefault()" id="filling_station_update">

                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="sel1">Select Filling Station</label>
                                                                    <select class="form-control"
                                                                        id="fillingStationName">
                                                                        {% for one_station in stations %}
                                                                        <option value="{{ one_station.id }}">
                                                                            {{ one_station.name }} -
                                                                            {{ one_station.city }} -
                                                                            {{ one_station.registration }}
                                                                        </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="sel1">Petrol</label>
                                                                    <select class="form-control"
                                                                        id="petrolAvailability">
                                                                        <option value="1">Avaibale</option>
                                                                        <option value="2">Not Avaibale</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="sel1">Diesel</label>
                                                                    <select class="form-control"
                                                                        id="dieselAvailability">
                                                                        <option value="1">Avaibale</option>
                                                                        <option value="2">Not Avaibale</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="input-group">
                                                                    <input type="number" name="petrolamt" id="petrolamt"
                                                                        min="0" placeholder="Petrol Amount">
                                                                    <label>Petrol Amount</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="input-group">
                                                                    <input type="number" name="dieselamt" id="dieselamt"
                                                                        min="0" placeholder="Diesel Amount">
                                                                    <label>Diesel Amount</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12" id="updateStationNotices">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="submit" value="Update"
                                                                    class="btn btn-success placeicon">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                {% endif %}
                                            </div>

                                            <br>
                                            <br>

                                            <!-- Pending for approval -->
                                            <div>
                                                <h3 class="mt-0 mb-4 text-center">Pending for approval</h3>
                                                {% if pending_length == 0 %}
                                                <div class="alert alert-dark" role="alert">
                                                    You currently have nothing pending!
                                                </div>
                                                {% else %}
                                                <div id="accordion">
                                                    {% for item_dict in pending %}
                                                    <div class="card">
                                                        <div class="card-header"
                                                            id="heading-{{ '-'.join(item_dict.registration.split(' ')) }}">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link" data-toggle="collapse"
                                                                    data-target="#collapse-{{ '-'.join(item_dict.registration.split(' ')) }}"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-{{ '-'.join(item_dict.registration.split(' ')) }}">
                                                                    {{ item_dict.name }} - {{ item_dict.city }}
                                                                </button>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-{{ '-'.join(item_dict.registration.split(' ')) }}"
                                                            class="collapse"
                                                            aria-labelledby="heading-{{ '-'.join(item_dict.registration.split(' ')) }}"
                                                            data-parent="#accordion">
                                                            <div class="card-body">
                                                                <b>Registration:</b> {{ item_dict.registration }} <br>
                                                                <b>Latitudes:</b> {{ item_dict.coordinates[0] }} <br>
                                                                <b>Longitudes:</b> {{ item_dict.coordinates[1] }} <br>
                                                                <b>Requested at </b> {{ item_dict.lastupdated }} <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Account Settings -->
                            <div id="menu2" class="tab-pane in active">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <div class="form-card">
                                            <h3 class="mt-0 mb-4 text-center">
                                                Edit Account Details
                                            </h3>
                                            <form onsubmit="event.preventDefault()" id="account_details_form">

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" id="fullname" name="fullname"
                                                                placeholder="{{ user.name }}" disabled>
                                                            <label>Full Name</label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" id="email" name="email"
                                                                placeholder="{{ user.email }}" disabled>
                                                            <label>Email</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="input-group">
                                                            <input type="text" placeholder="" name="npassword"
                                                                id="npassword">
                                                            <label>New Password&nbsp;&nbsp;&nbsp;</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="input-group">
                                                            <input type="text" name="vpassword" id="vpassword"
                                                                placeholder="" class="placeicon">
                                                            <label>Verify Password&nbsp;&nbsp;&nbsp;</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="alert alert-success" role="alert"
                                                            id="account_successmsg" style="display:none;">
                                                        </div>
                                                        <div class="alert alert-danger" role="alert"
                                                            id="account_errormsg" style="display:none;">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="submit" value="Save"
                                                            class="btn btn-success placeicon">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-center mb-5" id="below-btn">
                                                            <a href="{{ url_for('logout') }}">
                                                                Log Out
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Add New Station -->
                            <div id="menu3" class="tab-pane">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <div class="form-card">
                                            <h3 class="mt-0 mb-4 text-center" id="title_new_station_form_easy">
                                                Add new Filling Station
                                            </h3>
                                            <h3 class="mt-0 mb-4 text-center"></h3>
                                            <form onsubmit="event.preventDefault()" id="new_station_form"
                                                enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" id="fsname" name="fsname"
                                                                placeholder="Fillion Station's Name">
                                                            <label>Fillion Station's Name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" name="fsgoogleurl" id="fsgoogleurl"
                                                                placeholder="Google Maps URL">
                                                            <label>Google Maps URL</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" name="fscity" id="fscity"
                                                                placeholder="City">
                                                            <label>City</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" name="bussinessRegistrationNumber"
                                                                id="bussinessRegistrationNumber"
                                                                placeholder="Bussiness Registration Number">
                                                            <label>Bussiness Registration Number</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group">
                                                            <input type="text" name="fsphone" id="fsphone"
                                                                placeholder="Phone Number">
                                                            <label>Phone Number</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="sel1">Petrol</label>
                                                            <select class="form-control" id="petrolAvailability">
                                                                <option value="1">Avaibale</option>
                                                                <option value="2">Not Avaibale</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="sel1">Diesel</label>
                                                            <select class="form-control" id="dieselAvailability">
                                                                <option value="1">Avaibale</option>
                                                                <option value="2">Not Avaibale</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="regProof">
                                                                Upload proof of Bussiness Registration
                                                            </label>
                                                            <input type="file" class="form-control-file" id="regProof"
                                                                name="regProof">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12" id="newS_notices">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"> <input type="submit" value="Submit"
                                                            class="btn btn-success placeicon"> </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Deleted -->
                            <!-- <div class="row justify-content-center">
                                <div class="col-11">
                                    <h3 class="mt-0 mb-4 text-center">Scan the QR code to pay</h3>
                                    <div class="row justify-content-center">
                                        <div id="qr"> <img src="https://i.imgur.com/DD4Npfw.jpg" width="200px"
                                                height="200px"> </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{%block endbody%}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        //Menu Toggle Script
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        // For highlighting activated tabs
        $("#tab1").click(function () {
            $(".tabs").removeClass("active1");
            $(".tabs").addClass("bg-light");
            $("#tab1").addClass("active1");
            $("#tab1").removeClass("bg-light");
        });

        $("#tab2").click(function () {
            $("#account_successmsg").hide();
            $("#account_errormsg").hide();
            $(".tabs").removeClass("active1");
            $(".tabs").addClass("bg-light");
            $("#tab2").addClass("active1");
            $("#tab2").removeClass("bg-light");
        });

        $("#tab3").click(function () {
            $(".tabs").removeClass("active1");
            $(".tabs").addClass("bg-light");
            $("#tab3").addClass("active1");
            $("#tab3").removeClass("bg-light");
        });

        $("#tab4").click(function () {
            window.location.href = window.location.origin + '/logout'
        });

        $("#tab5").click(function () {
            window.location.href = window.location.origin
        })

        // save account details
        $("#account_details_form").submit(function () {
            const newPassword = $("#npassword")
            const verifyPassword = $("#vpassword")
            $.post(
                '{{ url_for("panel_edit_user") }}',
                {
                    npassword: newPassword.val(),
                    vpassword: verifyPassword.val()
                },
                function (data) {
                    $("#account_successmsg").hide();
                    $("#account_errormsg").hide();
                    if (data['status'] == "done") {
                        $("#account_errormsg").hide();
                        $("#account_successmsg").text("Changed password successfully!")
                        $("#account_successmsg").show();
                    } else if (data['status'] == "nomatch") {
                        $("#account_successmsg").hide();
                        $("#account_errormsg").text("Password doesn't match each other! Please try again!")
                        $("#account_errormsg").show();
                    } else {
                        $("#account_successmsg").hide();
                        $("#account_errormsg").text(`${data['status']}`)
                        $("#account_errormsg").show();
                    }
                }
            )
        })

        // add new station
        $("#new_station_form").submit(function () {
            const fsname = $("#fsname")
            const fsgoogleurl = $("#fsgoogleurl")
            const fscity = $("#fscity")
            const bussinessRegistrationNumber = $("#bussinessRegistrationNumber")
            const fsphone = $("#fsphone")
            const petrolAvailability = $("#petrolAvailability")
            const dieselAvailability = $("#dieselAvailability")
            const regProof = $("#regProof")
            const data = {
                fsname: fsname.val(),
                fsgoogleurl: fsgoogleurl.val(),
                fscity: fscity.val(),
                bussinessRegistrationNumber: bussinessRegistrationNumber.val(),
                fsphone: fsphone.val(),
                petrolAvailability: petrolAvailability.val(),
                dieselAvailability: dieselAvailability.val(),
                regProof: regProof.val()
            }
            alert(regProof.val())
            $.ajax({
                method: "POST",
                // contentType: 'application/x-www-form-urlencoded',
                contentType: false,
                url: '{{ url_for("add_new_station") }}',
                // data: $("#new_station_form").serialize(),
                data: new FormData($("#new_station_form")[0]),
                processData: false,
                cache: false,
                async: false,
                timeout: 600000,
                success: function (data) {
                    $("#newS_notices").empty()
                    $("#newS_notices").show();
                    if (Array.isArray(data['status'])) {
                        data['status'].forEach(element => {
                            $("#newS_notices").append(`
                            <div class="alert alert-danger" role="alert">
                                ${element}
                            </div>
                            `)
                        });
                    } else if (data['status'] == "success") {
                        $("#newS_notices").append(`
                            <div class="alert alert-success" role="alert">
                                Done! You will be contacted by the admins soon! 
                            </div>
                            `)
                    } else {
                        $("#newS_notices").append(`
                        <div class="alert alert-warning" role="alert">
                            ${data['status']} 
                        </div>
                        `)
                    }
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });
        })

        $("#filling_station_update").submit(function () {
            $("#newS_notices").empty()
            $("#newS_notices").show();
            const fillingStationNameID = $("#fillingStationName")
            const petrolAvailability = $("#petrolAvailability")
            const dieselAvailability = $("#dieselAvailability")
            const petrolamt = $("#petrolamt")
            const dieselamt = $("#dieselamt")
            $.post(
                '{{ url_for("panel_edit_station") }}',
                {
                    fillingStationNameID: fillingStationNameID.val(),
                    petrolAvailability: petrolAvailability.val(),
                    dieselAvailability: dieselAvailability.val(),
                    petrolamt: petrolamt.val(),
                    dieselamt: dieselamt.val()
                },
                function (data) {
                    if (data['status'] == 'success') {
                        $("#updateStationNotices").append(`
                        <div class="alert alert-success" role="alert">
                           Successfully updated availability!
                        </div>
                        `)
                    } else {
                        $("#updateStationNotices").append(`
                        <div class="alert alert-danger" role="alert">
                           Something was wrong!
                           <br>
                           ${data['status']}
                        </div>
                        `)
                    }
                }
            )
        })
    })
</script>
{% endblock %}